<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>

{% include 'pages/head.html' %}

</head>

<body role="document">

{% include 'pages/navbar.html' %}

<div class="container theme-showcase" role="main">

	<div class="jumbotron">
		<h1>? Covert-Box ?</h1>
	</div>

	<form role="form" action="/opened" method="POST">

		<div class="form-group">
			<input type="password" class="form-control" id="user_key_input" name="user_key" placeholder="Retrieval key">
		</div>

		<button type="submit" class="btn btn-success btn-lg btn-block" name="submit" id="submit_button">Open</button>
	</form>

</div> <!-- /container -->

</body></html>
{% endautoescape %}
