<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>

{% include 'pages/head.html' %}

</head>

<body role="document">

{% include 'pages/navbar.html' %}

<div class="container theme-showcase" role="main">

	<div class="jumbotron">
		<h1>? Covert-Box ?</h1>
	</div>
	{% for i in list %}
	<h2><a href="/open/{{i.blob_key}}">{{i.file_name}}</a> 
		{% if i.one_time %}
		<button type="button" class="btn btn-info">Only once</button>
		{% endif %}
		<a href="/trash/{{i.blob_key}}"><button type="button" class="btn btn-danger btn-lg">Delete</button></a>
	</h2>
	<p>
	{% if i.msg %}
	<blockquote>
		{{i.msg}}
	</blockquote>
	{% endif %}
	</p>
	<h5>Expire: {{i.expiry_date}}</h5>
	{% endfor %}



</div> <!-- /container -->
</body></html>
{% endautoescape %}
